.carta{
    background-color: rgb(9, 16, 27);
    width: 350px;
    height: 550px;
    border-radius: 3%;
    border: 2px solid white;
}

.nome-carta{
    text-align: center;
    color: floralwhite;
    font-weight: bolder;
    padding-top: 5px;
}

.custo-mana{
    margin-left: 1%;
    width: 5%;
    text-align: center;
    color: floralwhite;
    font-weight: bolder;
    border-radius: 50%;
    /*float: right;*/
}

.topo-carta{
    height: 10%;
}

.imagem-carta{
    border: 2px solid white;
    /*height: 45%;*/
    height: 45%;
}

.imagem-carta img{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.rodape-carta{
    height: 44%;
}

.divisoria{
    height: 5%;
}

.descricao-carta{
    border: 2px solid white;
    height: 75%;
    color: floralwhite;
    font-weight: bold;
    padding-left: 1%;
    padding-right: 1%;
    word-wrap: normal;
    overflow-y: hidden;
    font-size: small;
}

.atributos-carta{
    height: 10%;
    color: floralwhite;
    padding-left: 1%;
    font-weight: bolder;
    padding-top: 5%;
}

.center-div{
    margin: auto;
    padding: auto;
}

.carta-container{
    width: max-content;
    height: auto;
    display: table-cell;
}

.fundo-modificavel{
    /* Classe Identificavél */
}
.color-picker-fundo{
    /* Classe Identificavél */
    border: none;
    background-color: rgba(0, 0, 0, 0);
}
.color-transparencia-fundo{
    /* Classe Identificavél */
}
.div-picker-fundo{
    background-color: #2F4F4F;
    position: absolute;
    z-index: 1;
}

.picker-fundo-button{
    background-color: #4caf99; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    position: absolute;
    bottom: 0;
    transition: linear 0.1s;
}
.picker-fundo-button:hover{
    background-color: #378070; /* Green */
}
