button{
    transition: linear 0.1s;
}

.download-button{
    background-color: #4caf99; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.download-button:hover{
    background-color: #378070; /* Green */
}

.gradient-add-button{
    background-color: #4caf99; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 30px;
}

.gradient-add-button:hover{
    background-color: #378070; /* Green */
}

.gradient-button{
    background-color: #4caf99; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
}

.gradient-button:hover{
    background-color: #378070; /* Green */
}

.configuracoes-carta{
    width: 50%;
    height: 600px;
    display: table-cell;
    background-color: darkslategray;
    margin-left: 1%;
    position: relative;
}

.master-div{
    display: flex;
}

.input-text{
    width: 80%;
    margin: 2% 0 0 10%;
    border: none;
    background-color: rgb(31, 53, 53);
    border: 2px solid rgb(31, 53, 53);
    border-bottom: 2px solid rgb(15, 26, 26);
    color: floralwhite;
}

.input-text[type=color]{
    width: 80%;
    margin: 2% 0 0 10%;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: floralwhite;
}

.input-textarea{
    width: 80%;
    height: 100px;
    margin: 2% 0 0 10%;
    border: none;
    background-color: rgb(31, 53, 53);
    border: 2px solid rgb(31, 53, 53);
    border-bottom: 2px solid rgb(15, 26, 26);
    color: floralwhite;
    resize: none;
}

.input-text:focus{
    border: 2px solid rgb(15, 26, 26);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.titulo{
    color: floralwhite;
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
    padding-top: 3%;
}

.gradiente-container{
    width: 80%;
    margin: 2% 0 0 10%;
}

.gradient-picker{
    border: none;
    background-color: rgb(31, 53, 53);
    border: 2px solid rgb(31, 53, 53);
    border-bottom: 2px solid rgb(15, 26, 26);
}

.text-center{
    color: floralwhite;
    font-weight: bolder;
    text-align: center;
    padding-top: 3%;
}

.input-dropdown{
    width: 81.5%;
    margin: 2% 10% 0px 10%;
    border: none;
    background-color: rgb(31, 53, 53);
    border: 2px solid rgb(31, 53, 53);
    border-bottom: 2px solid rgb(15, 26, 26);
    color: floralwhite;
    resize: none;
    text-align: center;
}

.input-file{
    padding-left: 1%;
    width: 80%;
    margin: 2% 10% 0px 10%;
    border: none;
    background-color: rgb(31, 53, 53);
    border: 2px solid rgb(31, 53, 53);
    border-bottom: 2px solid rgb(15, 26, 26);
    color: floralwhite;
    resize: none;
    text-align: center;
}

.image-upload-content{
    margin-top: 2%;
    margin-left: 10%;
    width: 81%;
    border: 2px solid rgb(15, 26, 26);
}

/*Scroll Bar*/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(31, 53, 53); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #4caf99; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #378070; 
  }