@keyframes example {
    0%   {background-color: rgb(50, 83, 83);}
    25%  {background-color: rgb(67, 145, 145);}
    50%  {background-color: rgb(5, 167, 167);}
    100%   {background-color: rgb(50, 83, 83);}
}

body{
    background-color: rgb(32, 54, 54);
    animation-name: example;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.rodape{
    color: floralwhite;
    font-weight: bolder;
    font-size: larger;
    text-align: center;
    padding: 1%;
}

.rodape a{
    transition: linear 0.3s;
}

.rodape a:link, a:visited, a:active{
    color: floralwhite;
    text-decoration: none;
}
.rodape a:hover{
    color: rgb(184, 247, 215);
    text-decoration: none;
}