body{
    background-color: rgb(32, 54, 54);
}

.carta{
    background-color: rgb(9, 16, 27);
    width: 350px;
    height: 550px;
    border-radius: 3%;
    border: 2px solid white;
}

.nome-carta{
    text-align: center;
    color: floralwhite;
    font-weight: bolder;
    padding-top: 5px;
}

.mana-coust{
    margin-left: 1%;
    width: 5%;
    background-color: grey;
    text-align: center;
    color: floralwhite;
    font-weight: bolder;
    border-radius: 50%;
    /*float: right;*/
}

.topo-carta{
    height: 10%;
}

.imagem-carta{
    border: 2px solid white;
    height: 45%;
}

.imagem-carta img{
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.rodape-carta{
    height: 45%;
    padding-top: 4%;
}

.descricao-carta{
    background-color: rgba(117, 117, 117, 0.671);
    border: 2px solid white;
    height: 75%;
    color: floralwhite;
    font-weight: bold;
    padding-left: 1%;
    padding-right: 1%;
    word-wrap: normal;
    overflow-y: hidden;
    font-size: small;
}

.atributos-carta{
    height: 25%;
    color: floralwhite;
    padding-left: 1%;
    font-weight: bolder;
    padding-top: 5%;
}

.textura-carbono{
    background:
        linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
        linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
        linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
        linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
        linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
        linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
}

.textura-pontos{
    background:
        radial-gradient(black 15%, transparent 16%) 0 0,
        radial-gradient(black 15%, transparent 16%) 8px 8px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
}

.center-div{
    margin: auto;
    padding: 10px;
}

#button{
    background-color: #4caf99; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}